@import '../../utils/variables';
@import '../../utils/mixins';

.navbar {
  z-index: 50;
  background-color: $gray-700;
  color: $gray-50;
  @include fontMono();
  @include boxShadow();
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 5vh;
  font-weight: 400;
  justify-content: space-between;
  &-brand {
    h1 {
      display: none;
    }
    display: flex;
    gap: 10px;
    align-items: center;
    &-icon {
      font-size: 25px;
    }
  }
  .nav-item {
    display: flex;
    gap: 25px;
  }
}
.navbar-gap {
  position: relative;
  height: 2vw;
}

@media (min-width: 768px) {
  .navbar {
    top: 0;
    bottom: auto;
    height: 70px;
    &-brand {
      h1 {
        display: block;
      }
      &-icon {
        display: none;
      }
    }
  }
  .navbar-gap {
    position: sticky;
    height: 70px;
    bottom: auto;
  }
}
