@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.page-heading {
  background-color: $gray-50;
  color: $gray-700;
  padding: 15px 20px;
  border-radius: 10px;
  @include boxShadow();
}
