.cardContentWrapper {
  margin-top: 20px;
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
}
.cardContent {
  transition: all 0.2s !important;
  flex: 0.25;
  display: inline-block;
  text-align: center;
  padding: 15px;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  color: #219ebc;
  border-radius: 5px;
  border: 1px solid #219ebc;
  text-transform: capitalize;
}
.cardContent:visited {
  color: #219ebc;
}
.cardContent:hover {
  background-color: #219ebc;
  color: #fff;
}

@media (max-width: 768px) {
  .cardContentWrapper {
    display: block;
  }
  .cardContent {
    width: 100%;
    margin-bottom: 10px;
  }
}
