@import './utils/reset';
// @import './utils/variables';
@import './utils/fonts';

@import './components/index';

// page styles
@import './pages/index';

#nprogress .bar {
  background: $gray-50 !important;
  height: 4px !important;
}

a,
a:visited {
  color: inherit;
}
