@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

@import './utils/reset.scss';
@import './utils/variables.scss';
// moleculs styles
@import './components/moleculs/navbar.scss';
@import './components/moleculs/itemDetail.scss';
@import './components/moleculs/itemList.scss';
@import './components/moleculs/pageHeading.scss';

@import './components/atoms/navLink.scss';
@import './components/atoms/itemCard.scss';

@import './components/layouts/showCaseLayout.scss';
@import './components/layouts/landingLayout.scss';

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: inherit;
  }
}
body {
  background-color: $gray-100;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background: $gray-400;
  border-radius: 1px;
  &:hover {
    background: $gray-500;
  }
}

::-webkit-scrollbar {
  background: $gray-200;
  width: 10px;
}
